root = true

[*]
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 120

# Ktlint rules
ktlint_standard_max_line_length = 120
ktlint_code_style = intellij_idea
ktlint_standard_no-empty-first-line-in-class-body = enabled
ktlint_standard_if-else-wrapping = enabled
ktlint_standard_try-catch-finally-spacing = enabled
ktlint_standard_no-blank-line-in-list = enabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_ignore_back_ticked_identifier = true

# IntelliJ rules
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_packages_to_use_import_on_demand = unset
